<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/registracija_style.css" rel="stylesheet">
	<link href="css/messageForm.css" rel="stylesheet">
	<link href="css/loggedUsers.css" rel="stylesheet">
	<link href="css/chatMessages.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js" ></script>
	<script src="js/vue.js"></script>
	<script src="js/vuex.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="js/vue-resource.js"></script>
	<script src="js/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container">
				<router-link class="logo navbar-brand" style="color:#9a9da0;" to="/"><a>HOME</a></router-link>
				<ul class="navbar-nav ml-auto menu">
					<li class="nav-item" v-if="!logged"><router-link class="nav-link" to="/register"><a>Sign up</a></router-link></li>
					<li class="nav-item" v-if="!logged"><router-link class="nav-link" to="/login"><a>Sign in</a></router-link></li>
					<li class="nav-item" v-else><router-link class="nav-link" to="/login"><a v-on:click.prevent="logout">Logout</a></router-link></li>
				</ul>
			</div>
		</nav>
		<div>
			<div>
				<div>
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>
	
	<script src="js/login.js"></script>
	<script src="js/registration.js"></script>
	<script src="js/home.js"></script>
	<script src="js/index.js"></script>
</body>
</html>